.loader {
    margin: 0 auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.select2-container .select2-selection--single {
    /*height: 38px;*/
    border:1px solid #dce7f1;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    /*line-height: 38px;*/
}
.dataTable-sorter::before {
    border-top: 4px solid #fff;
}
.dataTable-sorter::after {
    border-bottom: 4px solid #fff;

}
.dataTable-sorter::before, .dataTable-sorter::after {
    opacity: 100 !important;
}
.dataTable-table > thead > tr > th {
    text-align: center;
}
